// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}



// -------------- MY CODE --------------

// Variables
@font-stack: Arial, "sans-serif";

@tablet: (max-width: 850px);
@mobile: (max-width: 500px);

.button() {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 14px;
	margin: 10px 0;
	color: black;
	background-color: lightgray;
	font-weight: bold;
}

.center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Container

.container {
	width: 90%;
	margin: auto;
	font-family: @font-stack;

	@media @tablet {
		width: 500px;
	}

	@media @mobile {
		width: 300px;
	}

	p {
		line-height: 1.1;
	}

}

// Header

header {
	border-bottom: 1px solid black;

	// Navbar

	nav {
		.center();
		flex-wrap: wrap;
		padding: 20px 0;
	}
	
	a {
		text-decoration: none;
		color: black;
		cursor: pointer;
		margin: 0 50px;

		@media @tablet {
			margin: 0 20px;
		}

		@media @mobile {
			width: 100%;
			.center();
			border-bottom: 1px solid black;
			padding: 10px 0;
		}
	}

	nav a:hover {
		text-decoration: underline;
	}
}


// Intro 

.intro {

	img {
		width: 100%;
		height: auto;
		margin: 10px 0;
	}

	h1 {
		text-align: center;
		margin: 20px 0;
		font-size: 40px;
		font-family: 'Oswald', sans-serif;

		@media @mobile {
			font-size: 26px;
		}
	}

	h2 {
		text-align: center;
		margin: 20px 0;
		font-size: 24px;
	}

	p {
		text-align: left;
		text-align: center;
		margin: 20px 0;
	}
}

// Resume

.resume {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.resume-section {
	width: 100%;
	margin: 20px 0;
	border-bottom: 1px solid black;
	padding: 10px 20px;

	h2 {
		margin: 5px 0;
		font-size: 24px;
	}

	p {
		margin: 10px 0;
	}

	a {
		text-decoration: underline;
		color: black;
		cursor: pointer;
	}
}

// Resume Items Container
.resume-item-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

// Resume Items
.resume-item {
	border: 1px solid black;
	margin: 20px 0;
	padding: 10px 20px;
	border-radius: 10px;
	width: 48%;

	@media @mobile {
		width: 100%;
	}

	h3 {
		font-size: 20px;
		margin: 10px 0;
		border-bottom: 1px solid black;
		padding-bottom: 5px;

		@media @mobile {
			text-align: center;
		}
	}

	h4 {
		font-size: 18px;
		margin: 10px 0;

		@media @mobile {
			text-align: center;
		}
	}

	li {
		list-style: square;
		margin: 20px 0 20px 20px;
	}

	.resume-item-button {
		.button();

		@media @mobile {
			width: 100%;
			padding: 5px;
		}
	}
}

// Contact

.contact {
	text-align: center;
}

// Font Awesome Icons
i {
	color: black;
	font-size: 50px;
	margin: 20px;
}

// Footer

footer {
	margin: 20px 0;
	text-align: center;
}